# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [5]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt

df_atl = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/atlanta_9-24-2016_9-30-2017.csv')
df_balt = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/baltimore_9-24-2016_9-30-2017.csv')
df_boston = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/boston_9-24-2016_9-30-2017.csv')
df_chi = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/chicago_9-24-2016_9-30-2017.csv')
df_col = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/columbia_9-24-2016_9-30-2017.csv')
df_dal = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/dallas_9-24-2016_9-30-2017.csv')
df_det = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/detroit_9-24-2016_9-30-2017.csv')
df_la = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/los-angeles_9-24-2016_9-30-2017.csv')
df_miami = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/miami_9-24-2016_9-30-2017.csv')
df_ny = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/new-york_9-24-2016_9-30-2017.csv')
df_phil = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/philadelphia_9-24-2016_9-30-2017.csv')
df_sf = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/san-fransisco_9-24-2016_9-30-2017.csv')
df_stl = pd.read_csv('/Users/allisoncannady/Desktop/LaunchCode/data-manipulation/dataset/st-louis_9-24-2016_9-30-2017.csv')

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [55]:
# Clean your data here!
#1. check for columns with mising data in most files

In [9]:
#Check missing data baltimore

total_cells_balt = np.product(df_balt.shape)

missing_cells_balt = pd.isnull(df_balt).sum()

total_missing_balt = missing_cells_balt.sum()

percentage_missing_balt = round((total_missing_balt/total_cells_balt), 2) *100

print(percentage_missing_balt, "% Missing cells from the data")

51.0 % Missing cells from the data

In [10]:
#number of missing cells per column ~w/o .sum = prints T/F chart
# 0 means no missing values
missing_cells_balt = pd.isnull(df_balt).sum()
print(missing_cells_balt)

Commodity Name       0
City Name            0
Type               153
Package              0
Variety              2
Sub Variety        128
Grade              153
Date                 0
Low Price            0
High Price           0
Mostly Low           0
Mostly High          0
Origin               5
Origin District    153
Item Size           25
Color              122
Environment        153
Unit of Sale       129
Quality            153
Condition          153
Appearance         153
Storage            153
Crop               153
Repack               0
Trans Mode         153
dtype: int64

In [8]:
df_balt.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [11]:
#Check missing data boston
total_cells_boston = np.product(df_boston.shape)

missing_cells_boston = pd.isnull(df_boston).sum()

total_missing_boston = missing_cells_boston.sum()

percentage_missing_boston = round((total_missing_boston/total_cells_boston), 2) *100

print(percentage_missing_boston, "% Missing cells from the data")

47.0 % Missing cells from the data

In [12]:
missing_cells_boston = pd.isnull(df_boston).sum()
print(missing_cells_boston)

Commodity Name       0
City Name            0
Type               352
Package              0
Variety              0
Sub Variety        324
Grade              352
Date                 0
Low Price            0
High Price           0
Mostly Low           0
Mostly High          0
Origin               0
Origin District    286
Item Size            4
Color               48
Environment        352
Unit of Sale       306
Quality            352
Condition          352
Appearance         352
Storage            352
Crop               352
Repack               0
Trans Mode         352
dtype: int64

In [13]:
#Check missing data new york
total_cells_ny = np.product(df_ny.shape)

missing_cells_ny = pd.isnull(df_ny).sum()

total_missing_ny = missing_cells_ny.sum()

percentage_missing_ny = round((total_missing_ny/total_cells_ny), 2) *100

print(percentage_missing_ny, "% Missing cells from the data")

49.0 % Missing cells from the data

In [14]:
missing_cells_ny = pd.isnull(df_ny).sum()
print(missing_cells_ny)

Commodity Name       0
City Name            0
Type               112
Package              0
Variety              0
Sub Variety         94
Grade              112
Date                 0
Low Price            0
High Price           0
Mostly Low           0
Mostly High          0
Origin               0
Origin District     97
Item Size            8
Color               91
Environment        112
Unit of Sale        87
Quality            112
Condition          112
Appearance         112
Storage            112
Crop               112
Repack               0
Trans Mode         112
dtype: int64

In [15]:
#change type from NaN to conventional
df_balt["Type"] = df_balt["Type"].fillna("Conventional")
df_boston["Type"] = df_boston["Type"].fillna("Conventional")
df_ny["Type"] = df_ny["Type"].fillna("Conventional")
df_phil["Type"] = df_phil["Type"].fillna("Conventional")

In [21]:
df_balt.shape

(153, 24)

In [23]:
#get rid of grade columns
df_balt = df_balt.drop(['Package', 'Mostly Low', 'Mostly High', 'Repack', 'Trans Mode'], axis=1) 
df_boston = df_boston.drop(['Package', 'Mostly Low', 'Mostly High', 'Repack', 'Trans Mode'], axis=1) 
df_ny = df_ny.drop(['Package', 'Mostly Low', 'Mostly High', 'Repack', 'Trans Mode'], axis=1) 
df_phil = df_phil.drop(['Package', 'Mostly Low', 'Mostly High', 'Repack', 'Trans Mode'], axis=1)

In [24]:
df_balt.shape

(153, 19)

In [25]:
df_balt.columns

Index(['Commodity Name', 'City Name', 'Type', 'Variety', 'Sub Variety', 'Date',
       'Low Price', 'High Price', 'Origin', 'Origin District', 'Item Size',
       'Color', 'Environment', 'Unit of Sale', 'Quality', 'Condition',
       'Appearance', 'Storage', 'Crop'],
      dtype='object')

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [26]:
# Combine the four dataframes into one!
northeast_region = pd.concat([df_balt, df_boston, df_ny, df_phil], keys=['Commodity Name', 'City Name', 'Type', 'Variety', 'Sub Variety', 'Date',
       'Low Price', 'High Price', 'Origin', 'Origin District', 'Item Size',
       'Color', 'Environment', 'Unit of Sale', 'Quality', 'Condition',
       'Appearance', 'Storage', 'Crop'])

In [27]:
northeast_region.head()

                 Commodity Name  City Name          Type      Variety  \
Commodity Name 0       PUMPKINS  BALTIMORE  Conventional          NaN
               1       PUMPKINS  BALTIMORE  Conventional          NaN
               2       PUMPKINS  BALTIMORE  Conventional  HOWDEN TYPE
               3       PUMPKINS  BALTIMORE  Conventional  HOWDEN TYPE
               4       PUMPKINS  BALTIMORE  Conventional  HOWDEN TYPE

                 Sub Variety        Date  Low Price  High Price    Origin  \
Commodity Name 0         NaN  04/29/2017        270       280.0       NaN
               1         NaN  05/06/2017        270       280.0       NaN
               2         NaN  09/24/2016        160       160.0  DELAWARE
               3         NaN  09/24/2016        160       160.0  VIRGINIA
               4         NaN  11/05/2016         90       100.0  MARYLAND

                 Origin District Item Size Color  Environment Unit of Sale  \
Commodity Name 0             NaN       lge   NaN          NaN          NaN
               1             NaN       lge   NaN          NaN          NaN
               2             NaN       med   NaN          NaN          NaN
               3             NaN       med   NaN          NaN          NaN
               4             NaN       lge   NaN          NaN          NaN

                  Quality  Condition  Appearance  Storage  Crop
Commodity Name 0      NaN        NaN         NaN      NaN   NaN
               1      NaN        NaN         NaN      NaN   NaN
               2      NaN        NaN         NaN      NaN   NaN
               3      NaN        NaN         NaN      NaN   NaN
               4      NaN        NaN         NaN      NaN   NaN

In [29]:
northeast_region.drop([ 'Sub Variety','Origin District', 'Color', 'Environment', 'Unit of Sale', 'Quality', 'Condition',
       'Appearance', 'Storage', 'Crop' ])

KeyError: 'Origin District'

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [30]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
northeast_region_mean_high = northeast_region.head().agg("max")  

# run your table:
northeast_region_mean_high.first()

/var/folders/pq/kvxyn9sd7zv1b4b9wnk5qhq40000gn/T/ipykernel_32078/3653655919.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  northeast_region_mean_high = northeast_region.head().agg("max")

TypeError: first() missing 1 required positional argument: 'offset'

In [ ]:
northeast_region_mean_low = northeast_region.head().agg("min")

In [58]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
northeast_region_average =

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!